<a href="https://colab.research.google.com/github/Valgueiro/dataScience_project/blob/master/Projeto_1_dataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instalar bibliotecas necessárias

In [ ]:
# Por enquando nenhuma.

# Analisandos os dados da temporada 2019/20 da NFL

Utilizarei os dados de https://www.kaggle.com/dvc415/nfl-2019-weekly-player-stats . Nele podemos encontrar estatísticas sobre diversos jogadores de 3 posiçoes do futebol americano:

* Quaterbacks (qbs) - A mente por trás do ataque, são os responsáveis por liderar e coordenar o ataque

* Running Backs (rbs) - corredores da equipe, geralmente recebem a bola diretamente do Quarteback e correm para dentro da defesa.

* Wide receivers (wrs) - também são corredores, mas geralmente correm pra dentro da defesa adversária e recebem a bola do QB através de um passe.

## Pré-processando os dados

### Coletando dados

In [4]:
import numpy as np
import pandas as pd

In [7]:
qbs = pd.read_csv("https://raw.githubusercontent.com/Valgueiro/dataScience_project/master/data/nfl_2019_qb_weekly_stats.csv")
rbs = pd.read_csv("https://raw.githubusercontent.com/Valgueiro/dataScience_project/master/data/nfl_2019_rb_weekly_stats.csv")
wrs = pd.read_csv("https://raw.githubusercontent.com/Valgueiro/dataScience_project/master/data/nfl_2019_wr_weekly_stats.csv")

   Rank               Player Position  ...  Rush_Yards Yards_per_Attempt Rush_TD
0     1          Marlon Mack       RB  ...         174              6.96       1
1     2  Christian McCaffrey       RB  ...         128              6.74       2
2     3       Saquon Barkley       RB  ...         120             10.91       0
3     4          Dalvin Cook       RB  ...         111              5.29       2
4     5          Mark Ingram       RB  ...         107              7.64       2

[5 rows x 16 columns]

### Analisando os dados de Qbs

In [9]:
qbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           611 non-null    int64
 1   Player         611 non-null    object
 2   Position       611 non-null    object
 3   Age            611 non-null    float64
 4   Date           611 non-null    object
 5   League         611 non-null    object
 6   Team           611 non-null    object
 7   Opp            611 non-null    object
 8   Result         611 non-null    object
 9   Game           611 non-null    int64
 10  Week           611 non-null    int64
 11  Day            611 non-null    object
 12  Cmp            611 non-null    int64
 13  Pass_Att       611 non-null    int64
 14  Cmp_Per        611 non-null    float64
 15  Pass_Yards     611 non-null    int64
 16  Pass_TD        611 non-null    int64
 17  Pass_Int       611 non-null    int64
 18  QB_Rate        611 non-null    float64
 19  Sacked         611 non-null    int64
 20  Yds_Lost       611 non-null    int64
 21  Yards_Att      611 non-null    float64
 22  Adj_Yards_Att  611 non-null    float64
dtypes: float64(5), int64(10), object(8)
memory usage: 109.9+ KB

Logo de cara podemos ver que não temos dados ausentes, mas alguns tipos devem ser estudados e melhorados.

#### Verificando a necessidade da coluna "Position"

In [23]:
qbs["Position"].unique()

array(['QB', 'WR', 'RB', 'K', 'P', 'FB/TE'], dtype=object)

In [21]:
qbs[qbs["Position"] == 'WR'][["Player", "Pass_Att"]]

                Player  Pass_Att  Pass_Yards
14      Julian Edelman         1          32
43        Dante Pettis         1          16
142  Odell Beckham Jr.         1           0
146    DeAndre Hopkins         1           0
151  Odell Beckham Jr.         1          20
248        Zach Pascal         1           0
338       Randall Cobb         1           0
343     Julian Edelman         1          15
348   Courtland Sutton         1          38
411        Steven Sims         1           0
413         John Brown         1          28
415    DeAndre Hopkins         1           6
452   Emmanuel Sanders         1          35
458      Alex Erickson         1          26
490        Cooper Kupp         1           0
529        Josh Gordon         1           0
537      Kelvin Harmon         1          11
569       Stefon Diggs         1           0
571     Danny Amendola         1          19
586      Albert Wilson         2          20

Como podemos ver, o dataset conta também com jogadores de outra posição que jogaram de QB em algum momento, como por exemplo os Wide Receivers que vemos nesta ultima tabela. Com as duas colunas mostradas podemos ver que todos eles fizeram apenas 2 passes no máximo. Geralmente essas jogadas são fora do comum, são chamadas de "trick play".

#### Verificando o tipo da coluna "Age"

In [25]:
qbs["Age"].describe()

count    611.000000
mean      28.154298
std        5.364599
min       22.032000
25%       24.046500
50%       26.308000
75%       31.219000
max       42.148000
Name: Age, dtype: float64

In [31]:
qbs[qbs["Player"] == "Kirk Cousins"][["Player","Age","Date"]]

           Player     Age        Date
4    Kirk Cousins  31.020  2019-09-08
72   Kirk Cousins  31.027  2019-09-15
86   Kirk Cousins  31.034  2019-09-22
126  Kirk Cousins  31.041  2019-09-29
149  Kirk Cousins  31.048  2019-10-06
186  Kirk Cousins  31.055  2019-10-13
219  Kirk Cousins  31.062  2019-10-20
259  Kirk Cousins  31.066  2019-10-24
298  Kirk Cousins  31.076  2019-11-03
318  Kirk Cousins  31.083  2019-11-10
345  Kirk Cousins  31.090  2019-11-17
433  Kirk Cousins  31.105  2019-12-02
464  Kirk Cousins  31.111  2019-12-08
502  Kirk Cousins  31.118  2019-12-15
566  Kirk Cousins  31.126  2019-12-23

Como podemos ver, apesar de idade normalmente ser tratada com inteiro, aqui é mostrada a idade inclusive incluindo a quantidade de meses e dias.

#### Transformando o tipo da coluna Date

Com o describe, vimos que a coluna Date está com o tipo Object. Devemos mudá-la para o tipo correto de datas.

In [34]:
qbs["Date"].head()

0    2019-09-08
1    2019-09-08
2    2019-09-08
3    2019-09-08
4    2019-09-08
Name: Date, dtype: object

In [36]:
qbs["Date"] = pd.to_datetime(qbs["Date"])
qbs["Date"].head()

0   2019-09-08
1   2019-09-08
2   2019-09-08
3   2019-09-08
4   2019-09-08
Name: Date, dtype: datetime64[ns]

#### Verificando a necessidade da coluna League

In [37]:
qbs["League"].unique()

array(['NFL'], dtype=object)

Como podemos ver todas as linhas tem o mesmo valor para esta coluna. Como já é sabido que estamos no contexto da NFL, vou retirá-la do dataset.

In [40]:
qbs.drop(columns=['League'])

     Rank              Player Position  ...  Yds_Lost Yards_Att Adj_Yards_Att
0       1       Lamar Jackson       QB  ...         1     16.20         16.20
1       2        Dak Prescott       QB  ...         0     12.66         12.66
2       3  Robert Griffin III       QB  ...         0      9.17          9.17
3       4     Patrick Mahomes       QB  ...         0     11.45         11.45
4       5        Kirk Cousins       QB  ...         1      9.80          9.80
..    ...                 ...      ...  ...       ...       ...           ...
606    36  Robert Griffin III       QB  ...        15      4.57          4.57
607    37        David Blough       QB  ...         7      4.21          4.21
608    38          Matt Haack        P  ...         0      0.00          0.00
609    39        Sean Mannion       QB  ...         0      6.00          6.00
610    40          Will Grier       QB  ...         7      0.50          0.50

[611 rows x 22 columns]