<a href="https://colab.research.google.com/github/Valgueiro/dataScience_project/blob/master/Projeto_2_dataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisandos os dados da temporada 2019/20 da NFL

Utilizarei os dados de https://www.kaggle.com/dvc415/nfl-2019-weekly-player-stats . Nele podemos encontrar estatísticas sobre diversos jogadores de 3 posiçoes do futebol americano:

* Quaterbacks (qbs) - A mente por trás do ataque, são os responsáveis por liderar e coordenar o ataque

* Running Backs (rbs) - corredores da equipe, geralmente recebem a bola diretamente do Quarteback e correm para dentro da defesa.

* Wide receivers (wrs) - também são corredores, mas geralmente correm pra dentro da defesa adversária e recebem a bola do QB através de um passe.

## Pré-processando os dados

### Coletando dados

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
qbs = pd.read_csv("https://raw.githubusercontent.com/Valgueiro/dataScience_project/master/data/nfl_2019_qb_weekly_stats.csv")

### Filtrando e reorganizando os dados de Qbs

In [3]:
qbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           611 non-null    int64
 1   Player         611 non-null    object
 2   Position       611 non-null    object
 3   Age            611 non-null    float64
 4   Date           611 non-null    object
 5   League         611 non-null    object
 6   Team           611 non-null    object
 7   Opp            611 non-null    object
 8   Result         611 non-null    object
 9   Game           611 non-null    int64
 10  Week           611 non-null    int64
 11  Day            611 non-null    object
 12  Cmp            611 non-null    int64
 13  Pass_Att       611 non-null    int64
 14  Cmp_Per        611 non-null    float64
 15  Pass_Yards     611 non-null    int64
 16  Pass_TD        611 non-null    int64
 17  Pass_Int       611 non-null    int64
 18  QB_Rate        611 non-null    float64
 19  Sacked         611 non-null    int64
 20  Yds_Lost       611 non-null    int64
 21  Yards_Att      611 non-null    float64
 22  Adj_Yards_Att  611 non-null    float64
dtypes: float64(5), int64(10), object(8)
memory usage: 109.9+ KB

Logo de cara podemos ver que não temos dados ausentes, mas alguns tipos devem ser estudados e melhorados, assim como algumas colunas devem ser discretizadas.

#### Verificando a necessidade da coluna "Position"

In [4]:
qbs["Position"].unique()

array(['QB', 'WR', 'RB', 'K', 'P', 'FB/TE'], dtype=object)

In [5]:
qbs[qbs["Position"] == 'WR'][["Player", "Pass_Att"]]

                Player  Pass_Att
14      Julian Edelman         1
43        Dante Pettis         1
142  Odell Beckham Jr.         1
146    DeAndre Hopkins         1
151  Odell Beckham Jr.         1
248        Zach Pascal         1
338       Randall Cobb         1
343     Julian Edelman         1
348   Courtland Sutton         1
411        Steven Sims         1
413         John Brown         1
415    DeAndre Hopkins         1
452   Emmanuel Sanders         1
458      Alex Erickson         1
490        Cooper Kupp         1
529        Josh Gordon         1
537      Kelvin Harmon         1
569       Stefon Diggs         1
571     Danny Amendola         1
586      Albert Wilson         2

Como podemos ver, o dataset conta também com jogadores de outra posição que jogaram de QB em algum momento, como por exemplo os Wide Receivers que vemos nesta ultima tabela. Com as duas colunas mostradas podemos ver que todos eles fizeram apenas 2 passes no máximo. Geralmente essas jogadas são fora do comum, são chamadas de "trick play".

#### Verificando o tipo da coluna "Age"

In [6]:
qbs["Age"].describe()

count    611.000000
mean      28.154298
std        5.364599
min       22.032000
25%       24.046500
50%       26.308000
75%       31.219000
max       42.148000
Name: Age, dtype: float64

In [7]:
qbs[qbs["Player"] == "Kirk Cousins"][["Player","Age","Date"]]

           Player     Age        Date
4    Kirk Cousins  31.020  2019-09-08
72   Kirk Cousins  31.027  2019-09-15
86   Kirk Cousins  31.034  2019-09-22
126  Kirk Cousins  31.041  2019-09-29
149  Kirk Cousins  31.048  2019-10-06
186  Kirk Cousins  31.055  2019-10-13
219  Kirk Cousins  31.062  2019-10-20
259  Kirk Cousins  31.066  2019-10-24
298  Kirk Cousins  31.076  2019-11-03
318  Kirk Cousins  31.083  2019-11-10
345  Kirk Cousins  31.090  2019-11-17
433  Kirk Cousins  31.105  2019-12-02
464  Kirk Cousins  31.111  2019-12-08
502  Kirk Cousins  31.118  2019-12-15
566  Kirk Cousins  31.126  2019-12-23

Como podemos ver, apesar de idade normalmente ser tratada com inteiro, aqui é mostrada a idade inclusive incluindo a quantidade de meses e dias.

#### Transformando o tipo da coluna Date

Com o describe, vimos que a coluna Date está com o tipo Object. Devemos mudá-la para o tipo correto de datas.

In [8]:
qbs["Date"].head()

0    2019-09-08
1    2019-09-08
2    2019-09-08
3    2019-09-08
4    2019-09-08
Name: Date, dtype: object

In [9]:
qbs["Date"] = pd.to_datetime(qbs["Date"])
qbs["Date"].head()

0   2019-09-08
1   2019-09-08
2   2019-09-08
3   2019-09-08
4   2019-09-08
Name: Date, dtype: datetime64[ns]

#### Verificando a necessidade da coluna League

In [10]:
qbs["League"].unique()

array(['NFL'], dtype=object)

Como podemos ver todas as linhas tem o mesmo valor para esta coluna. Como já é sabido que estamos no contexto da NFL, vou retirá-la do dataset.

In [11]:
qbs = qbs.drop(columns=['League'])

#### Separar dados da coluna Result

In [12]:
qbs["Result"].head()

0    W 59-10
1    W 35-17
2    W 59-10
3    W 40-26
4    W 28-12
Name: Result, dtype: object

A coluna result contem 3 informaçoes: O resultado final do jogo para o jogador, a quantidade de pontos feitos e a quantidade de pontos recebidos. Vamos separar esses dados em 3 colunas distintas

In [13]:
import re
parsed_results = qbs["Result"].map(lambda result: re.findall('(.+) (\d+)-(\d+)', result)[0])
qbs['Game_result'] = parsed_results.map(lambda parsed: parsed[0])
qbs['Points_scored'] = parsed_results.map(lambda parsed: parsed[1])
qbs['Points_Taken'] = parsed_results.map(lambda parsed: parsed[2])

qbs[['Game_result', 'Points_scored', 'Points_Taken']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game_result    611 non-null    object
 1   Points_scored  611 non-null    object
 2   Points_Taken   611 non-null    object
dtypes: object(3)
memory usage: 14.4+ KB

Após dividir as informaçoes, vamos mudar o tipo para inteiro e apagar a coluna que foi dividida.

In [14]:
qbs['Points_scored'] = pd.to_numeric(qbs['Points_scored'])
qbs['Points_Taken'] = pd.to_numeric(qbs['Points_Taken'])
qbs[['Game_result', 'Points_scored', 'Points_Taken']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game_result    611 non-null    object
 1   Points_scored  611 non-null    int64
 2   Points_Taken   611 non-null    int64
dtypes: int64(2), object(1)
memory usage: 14.4+ KB

In [15]:
qbs = qbs.drop(columns=['Result'])

### Resultado final

In [16]:
qbs.head()

   Rank              Player Position  ...  Game_result Points_scored Points_Taken
0     1       Lamar Jackson       QB  ...            W            59           10
1     2        Dak Prescott       QB  ...            W            35           17
2     3  Robert Griffin III       QB  ...            W            59           10
3     4     Patrick Mahomes       QB  ...            W            40           26
4     5        Kirk Cousins       QB  ...            W            28           12

[5 rows x 24 columns]

In [17]:
qbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           611 non-null    int64
 1   Player         611 non-null    object
 2   Position       611 non-null    object
 3   Age            611 non-null    float64
 4   Date           611 non-null    datetime64[ns]
 5   Team           611 non-null    object
 6   Opp            611 non-null    object
 7   Game           611 non-null    int64
 8   Week           611 non-null    int64
 9   Day            611 non-null    object
 10  Cmp            611 non-null    int64
 11  Pass_Att       611 non-null    int64
 12  Cmp_Per        611 non-null    float64
 13  Pass_Yards     611 non-null    int64
 14  Pass_TD        611 non-null    int64
 15  Pass_Int       611 non-null    int64
 16  QB_Rate        611 non-null    float64
 17  Sacked         611 non-null    int64
 18  Yds_Lost       611 non-null    int64
 19  Yards_Att      611 non-null    float64
 20  Adj_Yards_Att  611 non-null    float64
 21  Game_result    611 non-null    object
 22  Points_scored  611 non-null    int64
 23  Points_Taken   611 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(12), object(6)
memory usage: 114.7+ KB

## Trabalho de Classificaçao de dados

Agora tentarei prever se um QB ganhou ou perdeu uma partida de acordo com os seus atributos. 

Primeiramente vamos remover as colunas que dizem os resultados dos jogos e separar os dados entre "entradas" e "saída" esperados.

Sobre a saída, ela deve se basear apenas no status da partida: Se foi W ou L.

Sobre os atributos de entrada, além de retirar os dados de resultado da partida, também vou retirar dados que não devem estar relacionados aos atributos da partida: Rank, Nome, Posição, Times envolvidos na partida, Data e ID do jogo.

In [24]:
results = qbs["Game_result"]

qbs_attributes = qbs.drop(['Game_result', 'Points_scored', 'Points_Taken', 'Rank', 'Player', 'Position', 'Date', 'Team', 'Opp', 'Game'], axis=1)

qbs_attributes

        Age  Week  Day  Cmp  ...  Sacked  Yds_Lost  Yards_Att  Adj_Yards_Att
0    22.244     1  Sun   17  ...       1         1      16.20          16.20
1    26.041     1  Sun   25  ...       0         0      12.66          12.66
2    29.208     1  Sun    6  ...       0         0       9.17           9.17
3    23.356     1  Sun   25  ...       0         0      11.45          11.45
4    31.020     1  Sun    8  ...       1         1       9.80           9.80
..      ...   ...  ...  ...  ...     ...       ...        ...            ...
606  29.320    17  Sun   11  ...       3        15       4.57           4.57
607  24.151    17  Sun   12  ...       1         7       4.21           4.21
608  25.187    17  Sun    0  ...       0         0       0.00           0.00
609  27.248    17  Sun   12  ...       0         0       6.00           6.00
610  24.270    17  Sun    1  ...       1         7       0.50           0.50

[611 rows x 14 columns]

Agora vamos dividir o dataset em grupos para teste e validaçao

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(qbs_attributes, results, random_state=1)