<a href="https://colab.research.google.com/github/Valgueiro/dataScience_project/blob/master/Projeto_1_dataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisandos os dados da temporada 2019/20 da NFL

Utilizarei os dados de https://www.kaggle.com/dvc415/nfl-2019-weekly-player-stats . Nele podemos encontrar estatísticas sobre diversos jogadores de 3 posiçoes do futebol americano:

* Quaterbacks (qbs) - A mente por trás do ataque, são os responsáveis por liderar e coordenar o ataque

* Running Backs (rbs) - corredores da equipe, geralmente recebem a bola diretamente do Quarteback e correm para dentro da defesa.

* Wide receivers (wrs) - também são corredores, mas geralmente correm pra dentro da defesa adversária e recebem a bola do QB através de um passe.

## Pré-processando os dados

### Coletando dados

In [98]:
import numpy as np
import pandas as pd

In [99]:
qbs = pd.read_csv("https://raw.githubusercontent.com/Valgueiro/dataScience_project/master/data/nfl_2019_qb_weekly_stats.csv")

### Filtrando e reorganizando os dados de Qbs

In [100]:
qbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           611 non-null    int64
 1   Player         611 non-null    object
 2   Position       611 non-null    object
 3   Age            611 non-null    float64
 4   Date           611 non-null    object
 5   League         611 non-null    object
 6   Team           611 non-null    object
 7   Opp            611 non-null    object
 8   Result         611 non-null    object
 9   Game           611 non-null    int64
 10  Week           611 non-null    int64
 11  Day            611 non-null    object
 12  Cmp            611 non-null    int64
 13  Pass_Att       611 non-null    int64
 14  Cmp_Per        611 non-null    float64
 15  Pass_Yards     611 non-null    int64
 16  Pass_TD        611 non-null    int64
 17  Pass_Int       611 non-null    int64
 18  QB_Rate        611 non-null    float64
 19  Sacked         611 non-null    int64
 20  Yds_Lost       611 non-null    int64
 21  Yards_Att      611 non-null    float64
 22  Adj_Yards_Att  611 non-null    float64
dtypes: float64(5), int64(10), object(8)
memory usage: 109.9+ KB

Logo de cara podemos ver que não temos dados ausentes, mas alguns tipos devem ser estudados e melhorados, assim como algumas colunas devem ser discretizadas.

#### Verificando a necessidade da coluna "Position"

In [101]:
qbs["Position"].unique()

array(['QB', 'WR', 'RB', 'K', 'P', 'FB/TE'], dtype=object)

In [102]:
qbs[qbs["Position"] == 'WR'][["Player", "Pass_Att"]]

                Player  Pass_Att
14      Julian Edelman         1
43        Dante Pettis         1
142  Odell Beckham Jr.         1
146    DeAndre Hopkins         1
151  Odell Beckham Jr.         1
248        Zach Pascal         1
338       Randall Cobb         1
343     Julian Edelman         1
348   Courtland Sutton         1
411        Steven Sims         1
413         John Brown         1
415    DeAndre Hopkins         1
452   Emmanuel Sanders         1
458      Alex Erickson         1
490        Cooper Kupp         1
529        Josh Gordon         1
537      Kelvin Harmon         1
569       Stefon Diggs         1
571     Danny Amendola         1
586      Albert Wilson         2

Como podemos ver, o dataset conta também com jogadores de outra posição que jogaram de QB em algum momento, como por exemplo os Wide Receivers que vemos nesta ultima tabela. Com as duas colunas mostradas podemos ver que todos eles fizeram apenas 2 passes no máximo. Geralmente essas jogadas são fora do comum, são chamadas de "trick play".

#### Verificando o tipo da coluna "Age"

In [103]:
qbs["Age"].describe()

count    611.000000
mean      28.154298
std        5.364599
min       22.032000
25%       24.046500
50%       26.308000
75%       31.219000
max       42.148000
Name: Age, dtype: float64

In [104]:
qbs[qbs["Player"] == "Kirk Cousins"][["Player","Age","Date"]]

           Player     Age        Date
4    Kirk Cousins  31.020  2019-09-08
72   Kirk Cousins  31.027  2019-09-15
86   Kirk Cousins  31.034  2019-09-22
126  Kirk Cousins  31.041  2019-09-29
149  Kirk Cousins  31.048  2019-10-06
186  Kirk Cousins  31.055  2019-10-13
219  Kirk Cousins  31.062  2019-10-20
259  Kirk Cousins  31.066  2019-10-24
298  Kirk Cousins  31.076  2019-11-03
318  Kirk Cousins  31.083  2019-11-10
345  Kirk Cousins  31.090  2019-11-17
433  Kirk Cousins  31.105  2019-12-02
464  Kirk Cousins  31.111  2019-12-08
502  Kirk Cousins  31.118  2019-12-15
566  Kirk Cousins  31.126  2019-12-23

Como podemos ver, apesar de idade normalmente ser tratada com inteiro, aqui é mostrada a idade inclusive incluindo a quantidade de meses e dias.

#### Transformando o tipo da coluna Date

Com o describe, vimos que a coluna Date está com o tipo Object. Devemos mudá-la para o tipo correto de datas.

In [105]:
qbs["Date"].head()

0    2019-09-08
1    2019-09-08
2    2019-09-08
3    2019-09-08
4    2019-09-08
Name: Date, dtype: object

In [106]:
qbs["Date"] = pd.to_datetime(qbs["Date"])
qbs["Date"].head()

0   2019-09-08
1   2019-09-08
2   2019-09-08
3   2019-09-08
4   2019-09-08
Name: Date, dtype: datetime64[ns]

#### Verificando a necessidade da coluna League

In [107]:
qbs["League"].unique()

array(['NFL'], dtype=object)

Como podemos ver todas as linhas tem o mesmo valor para esta coluna. Como já é sabido que estamos no contexto da NFL, vou retirá-la do dataset.

In [108]:
qbs.drop(columns=['League'])

     Rank              Player Position  ...  Yds_Lost Yards_Att Adj_Yards_Att
0       1       Lamar Jackson       QB  ...         1     16.20         16.20
1       2        Dak Prescott       QB  ...         0     12.66         12.66
2       3  Robert Griffin III       QB  ...         0      9.17          9.17
3       4     Patrick Mahomes       QB  ...         0     11.45         11.45
4       5        Kirk Cousins       QB  ...         1      9.80          9.80
..    ...                 ...      ...  ...       ...       ...           ...
606    36  Robert Griffin III       QB  ...        15      4.57          4.57
607    37        David Blough       QB  ...         7      4.21          4.21
608    38          Matt Haack        P  ...         0      0.00          0.00
609    39        Sean Mannion       QB  ...         0      6.00          6.00
610    40          Will Grier       QB  ...         7      0.50          0.50

[611 rows x 22 columns]

#### Separar dados da coluna Result

In [109]:
qbs["Result"].head()

0    W 59-10
1    W 35-17
2    W 59-10
3    W 40-26
4    W 28-12
Name: Result, dtype: object

A coluna result contem 3 informaçoes: O resultado final do jogo para o jogador, a quantidade de pontos feitos e a quantidade de pontos recebidos. Vamos separar esses dados em 3 colunas distintas

In [110]:
import re
parsed_results = qbs["Result"].map(lambda result: re.findall('(.+) (\d+)-(\d+)', result)[0])
qbs['Game_result'] = parsed_results.map(lambda parsed: parsed[0])
qbs['Points_scored'] = parsed_results.map(lambda parsed: parsed[1])
qbs['Points_Taken'] = parsed_results.map(lambda parsed: parsed[2])

qbs[['Game_result', 'Points_scored', 'Points_Taken']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game_result    611 non-null    object
 1   Points_scored  611 non-null    object
 2   Points_Taken   611 non-null    object
dtypes: object(3)
memory usage: 14.4+ KB

Após dividir as informaçoes, vamos mudar o tipo para inteiro e apagar a coluna que foi dividida.

In [111]:
qbs['Points_scored'] = pd.to_numeric(qbs['Points_scored'])
qbs['Points_Taken'] = pd.to_numeric(qbs['Points_Taken'])
qbs[['Game_result', 'Points_scored', 'Points_Taken']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game_result    611 non-null    object
 1   Points_scored  611 non-null    int64
 2   Points_Taken   611 non-null    int64
dtypes: int64(2), object(1)
memory usage: 14.4+ KB

In [112]:
qbs = qbs.drop(columns=['Result'])

### Resultado final

In [113]:
qbs.head()

   Rank              Player Position  ...  Game_result Points_scored Points_Taken
0     1       Lamar Jackson       QB  ...            W            59           10
1     2        Dak Prescott       QB  ...            W            35           17
2     3  Robert Griffin III       QB  ...            W            59           10
3     4     Patrick Mahomes       QB  ...            W            40           26
4     5        Kirk Cousins       QB  ...            W            28           12

[5 rows x 25 columns]

In [114]:
qbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           611 non-null    int64
 1   Player         611 non-null    object
 2   Position       611 non-null    object
 3   Age            611 non-null    float64
 4   Date           611 non-null    datetime64[ns]
 5   League         611 non-null    object
 6   Team           611 non-null    object
 7   Opp            611 non-null    object
 8   Game           611 non-null    int64
 9   Week           611 non-null    int64
 10  Day            611 non-null    object
 11  Cmp            611 non-null    int64
 12  Pass_Att       611 non-null    int64
 13  Cmp_Per        611 non-null    float64
 14  Pass_Yards     611 non-null    int64
 15  Pass_TD        611 non-null    int64
 16  Pass_Int       611 non-null    int64
 17  QB_Rate        611 non-null    float64
 18  Sacked         611 non-null    int64
 19  Yds_Lost       611 non-null    int64
 20  Yards_Att      611 non-null    float64
 21  Adj_Yards_Att  611 non-null    float64
 22  Game_result    611 non-null    object
 23  Points_scored  611 non-null    int64
 24  Points_Taken   611 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(12), object(7)
memory usage: 119.5+ KB

## Analisando os dados

### Os mais bem rankeados

Primeiramente vamos ver quais foram os qbs mais bem rankeados na temporada. Para isso, vamos agrupar os dados por jogador.

In [115]:
all_players_qb_stats = qbs.groupby(['Player', 'Position'])
all_players_qb_stats.head()

     Rank              Player Position  ...  Game_result Points_scored Points_Taken
0       1       Lamar Jackson       QB  ...            W            59           10
1       2        Dak Prescott       QB  ...            W            35           17
2       3  Robert Griffin III       QB  ...            W            59           10
3       4     Patrick Mahomes       QB  ...            W            40           26
4       5        Kirk Cousins       QB  ...            W            28           12
..    ...                 ...      ...  ...          ...           ...          ...
604    34        Matt Barkley       QB  ...            L             6           13
607    37        David Blough       QB  ...            L            20           23
608    38          Matt Haack        P  ...            W            27           24
609    39        Sean Mannion       QB  ...            L            19           21
610    40          Will Grier       QB  ...            L            10           42

[309 rows x 25 columns]

Primeiramente, podemos observar a coluna de QB_Rate, que trás o Passer Rating do jogador em cada uma das partidas que ele jogou. 

O cáculo deste número é definido pela liga e leva em comparaçao atributos como o número de passes tentados, de passes completos, touchdowns, etc. O interessante desta métrica é que seu valor máximo é de **158,3**, e seu valor mínimo, **0**.

Para mais informações sobre como é feito seu cálculo https://pt.wikipedia.org/wiki/Passer_rating

In [116]:
all_players_qb_stats['Player', 'Position', 'QB_Rate'].mean().sort_values(['QB_Rate'],ascending=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                           QB_Rate
Player           Position
Danny Amendola   WR         158.30
Emmanuel Sanders WR         158.30
John Brown       WR         158.30
Julian Edelman   WR         138.50
Matt Schaub      QB         120.70
...                            ...
Jarrett Stidham  QB          38.55
Sean Mannion     QB          35.10
Will Grier       QB          23.00
Josh Gordon      WR           0.00
Jake Elliott     K            0.00

[102 rows x 1 columns]

Como podemos ver nos valores maiores e menores mostrados, todos os jogadores com o rate máximo são de posições diferentes de QB. Isso se deve marjoritariamente ao fato de que jogadores de outras posições podem até jogar como QB em jogadas "engraçadinhas", mas essas são poucas durante uma temporada inteira. Entao, vamos retirar esses outros jogadores.

In [127]:
qb_players = qbs[qbs['Position'] == 'QB'][['Player', 'QB_Rate','Team']].groupby(['Player','Team']).agg( 
                                                  QB_Rate_Mean=pd.NamedAgg(column='QB_Rate', aggfunc='mean'),
                                                  QB_Rate_Median=pd.NamedAgg(column='QB_Rate', aggfunc='median'),
                                                  Games_Played=pd.NamedAgg(column='QB_Rate', aggfunc='count'))
qb_players.head(10)

                         QB_Rate_Mean  QB_Rate_Median  Games_Played
Player             Team
A.J. McCarron      HOU      52.400000           52.40             2
Aaron Rodgers      GNB      95.681250           90.70            16
Alex Tanney        NYG      79.200000           79.20             1
Andy Dalton        CIN      76.753846           75.00            13
Baker Mayfield     CLE      76.881250           81.60            16
Ben Roethlisberger PIT      66.500000           66.50             2
Blake Bortles      LAR      56.200000           56.20             1
Brandon Allen      DEN      73.300000           61.90             3
Brett Hundley      ARI      60.200000           61.80             3
Brian Hoyer        IND      72.350000           72.35             2

Agora vamos analisar os ratings apenas dos Quartebacks presentes no dataset

In [128]:
sorted_by_rate = qb_players.sort_values(['QB_Rate_Mean'],ascending=False)
sorted_by_rate.head(10)

                       QB_Rate_Mean  QB_Rate_Median  Games_Played
Player           Team
Matt Schaub      ATL     120.700000          110.90             3
Ryan Tannehill   TEN     118.927273          130.80            11
Drew Brees       NOR     109.872727          116.40            11
Lamar Jackson    BAL     108.460000          104.80            15
Kirk Cousins     MIN     108.066667          111.50            15
Russell Wilson   SEA     107.793750          108.45            16
Matthew Stafford DET     105.100000          110.20             8
Patrick Mahomes  KAN     104.842857          104.30            14
Mike Glennon     OAK     104.700000          104.70             2
Tyrod Taylor     LAC     104.550000          104.55             2

Vemos outro ponto estranho: **Matt Schaub** é o Quarterback Reserva de Atlanta e jogou apenas 3 jogos na temporada 2019, e - por ter jogado poucos jogos - sua média está bem alta. Para evitar casos como esses, vamos retirar quartebacks que jogaram menos do que 5 jogos na temporada, ou seja, jogaram mais de 30% da temporada.

In [129]:
qb_players_with_at_least_5_games = qb_players[qb_players['Games_Played'] > 5]
qb_players_with_at_least_5_games.head(10)

                     QB_Rate_Mean  QB_Rate_Median  Games_Played
Player         Team
Aaron Rodgers  GNB      95.681250           90.70            16
Andy Dalton    CIN      76.753846           75.00            13
Baker Mayfield CLE      76.881250           81.60            16
Carson Wentz   PHI      93.668750           94.00            16
Case Keenum    WAS      87.155556           98.40             9
Dak Prescott   DAL     100.956250           96.15            16
Daniel Jones   NYG      85.961538           78.60            13
Derek Carr     OAK     100.031250          104.55            16
Deshaun Watson HOU      98.393333           92.10            15
Devlin Hodges  PIT      80.375000           91.80             8

Agora vamos ver de fato quais foram os melhores quartebacks da temporada baseado no QB Rating médio.

In [130]:
sorted_qb_players_with_at_least_5_games = qb_players_with_at_least_5_games.sort_values(['QB_Rate_Mean'],ascending=False)
sorted_qb_players_with_at_least_5_games.head(10)

                        QB_Rate_Mean  QB_Rate_Median  Games_Played
Player            Team
Ryan Tannehill    TEN     118.927273          130.80            11
Drew Brees        NOR     109.872727          116.40            11
Lamar Jackson     BAL     108.460000          104.80            15
Kirk Cousins      MIN     108.066667          111.50            15
Russell Wilson    SEA     107.793750          108.45            16
Matthew Stafford  DET     105.100000          110.20             8
Patrick Mahomes   KAN     104.842857          104.30            14
Jimmy Garoppolo   SFO     102.512500          109.35            16
Teddy Bridgewater NOR     101.328571          100.90             7
Dak Prescott      DAL     100.956250           96.15            16

Com o conhecimento de como foi a temporada 2019, podemos perceber que, tirando Matthew Stafford do Lions e Dak Prescott do Dallas cowboys, todos os Qbs presentes nessa lista estavam nos playoffs. Isto é, fazem parte dos 12 melhores times da temporada.

Vamos verificar se o resultado seria distinto caso tivessemos usado a mediana ao invés da média.

In [132]:
players_with_at_least_5_games.sort_values(['QB_Rate_Median'],ascending=False).head(10)

                        QB_Rate_Median  Games_Played
Player            Team
Ryan Tannehill    TEN           130.80            11
Drew Brees        NOR           116.40            11
Kirk Cousins      MIN           111.50            15
Matthew Stafford  DET           110.20             8
Jimmy Garoppolo   SFO           109.35            16
Russell Wilson    SEA           108.45            16
Lamar Jackson     BAL           104.80            15
Derek Carr        OAK           104.55            16
Patrick Mahomes   KAN           104.30            14
Teddy Bridgewater NOR           100.90             7

Aqui percebemos algumas diferenças. Alguns nomes novos apareceram (como Derek Carr), e outros desapareceram (como Dak Prescott). De qualquer forma, o Top 2 se manteve inalterado. 

Apesar da diferença, resolvi manter utilizando a média visto que os "outliers" neste conjunto de dados definem como pontos altos ou baixos do jogador em partidas, e não "pontos fora da curva". Jogos onde o QB jogou mal devem ser levados em conta para saber se de fato o jogador é consistente.

E os quaterbacks com os piores ratings médios:

In [131]:
sorted_qb_players_with_at_least_5_games.tail(10)

                         QB_Rate_Mean  QB_Rate_Median  Games_Played
Player             Team
Daniel Jones       NYG      85.961538            78.6            13
Joe Flacco         DEN      85.112500            81.4             8
Mitchell Trubisky  CHI      83.953333            70.1            15
Mason Rudolph      PIT      83.300000            85.0            10
Kyle Allen         CAR      82.400000            84.2            13
Devlin Hodges      PIT      80.375000            91.8             8
Dwayne Haskins     WAS      77.266667            74.6             9
Baker Mayfield     CLE      76.881250            81.6            16
Andy Dalton        CIN      76.753846            75.0            13
Robert Griffin III BAL      72.983333            63.4             6

### Comparaçao entre Tannehill e Mahomes

Vamos agora comparar o rating do Quaterback com maior média (Ryan Tannehill) e o MVP da temporada e ganhador do superbowl (Patrick Mahomes).

In [124]:
tannehill_stats = qbs[(qbs['Player'] == 'Ryan Tannehill') | (qbs['Player'] == 'Patrick Mahomes')][['Player','QB_Rate', 'Week']].sort_values(['Week'],ascending=True)

import plotly.express as px

fig = px.line(tannehill_stats, x="Week", y="QB_Rate", title='Comparaçao entre Ryan Tannehill e Patrick Mahomes', color='Player', labels={
    "QB_Rate": "Quarterback Rating"
} )
fig.show()

Como podemos ver no gráfico, Tannehill só começou a jogar a partir da semana 6, mas mesmo assim apresentou número impressionantes principalmente após a semana 10, enquanto o MVP teve uma queda de rendimento.

### Verificando se há alguma relaçao entre o Dia da semana e a performance dos qbs

Agora, por questao de curiosidade, vamos verificar se há alguma relaçao entre o dia da semana em que o jogo é jogado e a performance dos qbs.

In [134]:
qbs['Day'].unique()

array(['Sun', 'Mon', 'Thu', 'Sat'], dtype=object)

Os jogos da NFL são jogados nas Segundas, Quintas, Sábados e Domingos.